package api

import (
	"../types"
)

type {{ funcName . }}Service struct {
	client *Client
}

func New{{ funcName . }}Service(c *Client) *{{ funcName . }}Service {
	return &{{ funcName . }}Service{client: c}
}

func (svc *{{ funcName . }}Service) GetIdsByName(name string) ([]int64, error) {
	return svc.client.getIdsByName(types.{{ funcName . }}Model, name)
}

func (svc *{{ funcName . }}Service) GetByIds(ids []int64) (*types.{{ funcName . }}s, error) {
	p := &types.{{ funcName . }}s{}
	return p, svc.client.getByIds(types.{{ funcName . }}Model, ids, p)
}

func (svc *{{ funcName . }}Service) GetByName(name string) (*types.{{ funcName . }}s, error) {
	p := &types.{{ funcName . }}s{}
	return p, svc.client.getByName(types.{{ funcName . }}Model, name, p)
}

func (svc *{{ funcName . }}Service) GetByField(field string, value string) (*types.{{ funcName . }}s, error) {
	p := &types.{{ funcName . }}s{}
	return p, svc.client.getByField(types.{{ funcName . }}Model, field, value, p)
}

func (svc *{{ funcName . }}Service) GetAll() (*types.{{ funcName . }}s, error) {
	p := &types.{{ funcName . }}s{}
	return p, svc.client.getAll(types.{{ funcName . }}Model, p)
}

func (svc *{{ funcName . }}Service) Create(fields map[string]interface{}, relations *types.Relations) (int64, error) {
	return svc.client.create(types.{{ funcName . }}Model, fields, relations)
}

func (svc *{{ funcName . }}Service) Update(ids []int64, fields map[string]interface{}, relations *types.Relations) error {
	return svc.client.update(types.{{ funcName . }}Model, ids, fields, relations)
}

func (svc *{{ funcName . }}Service) Delete(ids []int64) error {
	return svc.client.delete(types.{{ funcName . }}Model, ids)
}
