package odoo 

import (
	"errors"
	"fmt"
)

type {{.StructName}} struct { {{range .Fields}}
	{{.VarName}} {{.Type}} `xmlrpc:"{{.Name}},omptempty"`{{end }}
}

type {{.StructName}}s []{{.StructName}}

const {{.StructName}}Model = "{{ .Name }}"

func (c *Client) Create{{.StructName}}({{.VarName}} *{{.StructName}}) (int64, error) {
	return c.Create({{.StructName}}Model, {{.VarName}})
}

func (c *Client) Update{{.StructName}}({{.VarName}} *{{.StructName}}) error {
	return c.Update{{.StructName}}s([]int64{ {{.VarName}}.Id.Get() }, {{.VarName}})
}

func (c *Client) Update{{.StructName}}s(ids []int64, {{.VarName}} *{{.StructName}}) error {
	return c.Update({{.StructName}}Model, ids, {{.VarName}})
}

func (c *Client) Delete{{.StructName}}(id int64) error {
	return c.Delete{{.StructName}}s([]int64{id})
}

func (c *Client) Delete{{.StructName}}s(ids []int64) error {
	return c.Delete({{.StructName}}Model, ids)
}

func (c *Client) Get{{.StructName}}(id int64) (*{{.StructName}}, error) {
	{{.VarsName}}, err := c.Get{{.StructName}}s([]int64{id})
	if err != nil {
		return nil, err
	}
	if {{.VarsName}} != nil && len(*{{.VarsName}}) > 0 {
		return &((*{{.VarsName}})[0]), nil
	}
	return nil, errors.New(fmt.Sprintf("id %v of %s not found", id, {{.StructName}}Model))
}

func (c *Client) Get{{.StructName}}s(ids []int64) (*{{.StructName}}s, error) {
	{{.VarsName}} := &{{.StructName}}s{}
	if err := c.Read({{.StructName}}Model, ids, nil, {{.VarsName}}); err != nil {
		return nil, err
	}
	return {{.VarsName}}, nil
}

func (c *Client) Find{{.StructName}}s(criteria *Criteria, options *Options) (*{{.StructName}}s, error) {
	{{.VarsName}} := &{{.StructName}}s{}
	if err := c.SearchRead({{.StructName}}Model, criteria, options, {{.VarsName}}); err != nil {
		return nil, err
	}
	return {{.VarsName}}, nil
}
